n8n_workflow_talosflow_final.json
{
  "name": "TalosFlow CRM - Flujo de Integración WhatsApp y Bot IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-crm",
        "options": {}
      },
      "id": "node-webhook-post",
      "name": "Webhook WhatsApp (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1800,
        -200
      ],
      "webhookId": "talosflow-whatsapp-v2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst entry = body?.entry?.[0];\nconst change = entry?.changes?.[0]?.value;\nconst message = change?.messages?.[0];\nconst contact = change?.contacts?.[0];\nif (!message?.text?.body) return [{ json: { valid: false } }];\nreturn [{ json: { valid: true, from_phone: message.from, contact_name: contact?.profile?.name || 'Cliente WhatsApp', text: message.text.body, wa_message_id: message.id } }];"
      },
      "id": "node-extract-data",
      "name": "Extraer Datos del Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1560,
        -200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-valid",
      "name": "Es Mensaje Valido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1320,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://aoiayenkyajaiueywslf.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvaWF5ZW5reWFqYWl1ZXl3c2xmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDExNTU3NywiZXhwIjoyMDk5NjkxNTc3fQ.a3xUfqahHF69DuR1eWvBrTNwkis0XforbmM7FyHI-J0';\nconst { from_phone, contact_name, text, wa_message_id } = $input.first().json;\nconst headers = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' };\ntry {\n  let contact;\n  const cs = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/contacts?phone=eq.${encodeURIComponent(from_phone)}&select=id,name,bot_enabled,blocked&limit=1`, headers });\n  if (Array.isArray(cs) && cs.length > 0) { contact = cs[0]; } else { const cr = await $helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/contacts`, headers, body: JSON.stringify({ name: contact_name, phone: from_phone, bot_enabled: true, blocked: false, lead_score: 'cold', tags: [] }) }); contact = Array.isArray(cr) ? cr[0] : cr; }\n  if (contact.blocked) return [{ json: { skip: true, reason: 'blocked' } }];\n  let conversation;\n  const vs = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/conversations?contact_id=eq.${contact.id}&status=eq.active&select=id&limit=1`, headers });\n  if (Array.isArray(vs) && vs.length > 0) { conversation = vs[0]; } else { const nv = await $helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/conversations`, headers, body: JSON.stringify({ contact_id: contact.id, status: 'active', unread_count: 1 }) }); conversation = Array.isArray(nv) ? nv[0] : nv; }\n  const em = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/messages?whatsapp_message_id=eq.${wa_message_id}&select=id&limit=1`, headers });\n  if (Array.isArray(em) && em.length > 0) return [{ json: { skip: true, reason: 'duplicate' } }];\n  await $helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/messages`, headers, body: JSON.stringify({ conversation_id: conversation.id, role: 'user', content: text, whatsapp_message_id: wa_message_id, status: 'received' }) });\n  const sr = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/settings?key=eq.ai_agent_settings&select=value&limit=1`, headers });\n  const aiCfg = (Array.isArray(sr) && sr.length > 0) ? sr[0].value : {};\n  return [{ json: { skip: false, contact_id: contact.id, conversation_id: conversation.id, from_phone, text, bot_enabled: contact.bot_enabled === true, system_prompt: aiCfg.system_prompt || 'Eres el Asistente Virtual Inteligente de TalosFlow Préstamos. Atiende amablemente y consulta sobre el monto que el cliente solicita.' } }];\n} catch (err) {\n  return [{ json: { skip: true, reason: 'error', error: err.message } }];\n}"
      },
      "id": "node-db-ingest",
      "name": "DB Contacto y Mensaje Entrante",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        -300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            },
            {
              "id": "cond-bot",
              "leftValue": "={{ $json.bot_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-bot-active",
      "name": "Verificar Bot Activo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -840,
        -300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "node-ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -580,
        -350
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 500,
          "temperature": 0.4
        }
      },
      "id": "node-gemini-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        -100
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "lOlx3wTMHZRrepsb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "node-postgres-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -440,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "dU5wekh6iRB5hwkr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/1107067572497144/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAW74SJqZBYkBRnPoSmNfT7MxgPNADZAenyu28YmuYraiZCAAweR3nE0R4l4CjOjLs0ksLls70pfQ5RHudXJ67uuhr6kuzCTSg9VEZCoIZAvc1WWuWD8rZCbbSGKrQYzP0ZCKtk5K22Gh5OUGUvY60SZBjCRRglUsoOlaMoTjZA3yEhjad3bVpPalVAzTDZBuIUWYxCQZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $('DB Contacto y Mensaje Entrante').item.json.from_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.output }}\" }\n}",
        "options": {}
      },
      "id": "node-send-whatsapp",
      "name": "Enviar por WhatsApp Cloud API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        -350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aoiayenkyajaiueywslf.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvaWF5ZW5reWFqYWl1ZXl3c2xmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDExNTU3NywiZXhwIjoyMDk5NjkxNTc3fQ.a3xUfqahHF69DuR1eWvBrTNwkis0XforbmM7FyHI-J0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvaWF5ZW5reWFqYWl1ZXl3c2xmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDExNTU3NywiZXhwIjoyMDk5NjkxNTc3fQ.a3xUfqahHF69DuR1eWvBrTNwkis0XforbmM7FyHI-J0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $('DB Contacto y Mensaje Entrante').item.json.conversation_id }}\",\n  \"role\": \"assistant\",\n  \"content\": \"{{ $('Enviar por WhatsApp Cloud API').item.json.output }}\",\n  \"whatsapp_message_id\": \"bot_{{ $now.toMillis() }}\",\n  \"status\": \"sent\"\n}",
        "options": {}
      },
      "id": "node-save-ai-supabase",
      "name": "Guardar Respuesta IA en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        -350
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook WhatsApp (POST)": {
      "main": [
        [
          {
            "node": "Extraer Datos del Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Mensaje": {
      "main": [
        [
          {
            "node": "Es Mensaje Valido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Mensaje Valido": {
      "main": [
        [
          {
            "node": "DB Contacto y Mensaje Entrante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Contacto y Mensaje Entrante": {
      "main": [
        [
          {
            "node": "Verificar Bot Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Bot Activo": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar por WhatsApp Cloud API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar por WhatsApp Cloud API": {
      "main": [
        [
          {
            "node": "Guardar Respuesta IA en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
