TalosFlow — Meta Webhook Verificación.json
{
  "name": "TalosFlow — Meta Webhook Verificación",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-crm",
        "options": {}
      },
      "id": "a334604e-a07f-41f5-a29b-081dc15976d9",
      "name": " Webhook WhatsApp (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1808,
        -224
      ],
      "webhookId": "talosflow-whatsapp-v2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst entry = body?.entry?.[0];\nconst change = entry?.changes?.[0]?.value;\nconst message = change?.messages?.[0];\nconst contact = change?.contacts?.[0];\nif (!message?.text?.body) return [{ json: { valid: false } }];\nreturn [{ json: { valid: true, from_phone: message.from, contact_name: contact?.profile?.name || 'Cliente WhatsApp', text: message.text.body, wa_message_id: message.id } }];"
      },
      "id": "9ce06d47-7705-4395-b5f3-7542600f991e",
      "name": " Extraer Datos del Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        -224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bb692c2c-6e1b-42ee-b6be-fec54e0b3c78",
      "name": " ¿Es Mensaje Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1312,
        -224
      ]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = 'https://qgmlyliwwsszrkicadbf.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnbWx5bGl3d3NzenJraWNhZGJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzA4NjA4MSwiZXhwIjoyMDk4NjYyMDgxfQ.F1qNdueZdDiXtOsHIzAKFcuU9kcM4uQLllNKU7dANLA';\nconst { from_phone, contact_name, text, wa_message_id } = $input.first().json;\nconst headers = { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' };\ntry {\n  let contact;\n  const cs = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/contacts?phone=eq.${encodeURIComponent(from_phone)}&select=id,name,bot_enabled,blocked&limit=1`, headers });\n  if (Array.isArray(cs) && cs.length > 0) { contact = cs[0]; } else { const cr = await $helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/contacts`, headers, body: JSON.stringify({ name: contact_name, phone: from_phone, bot_enabled: true, blocked: false, lead_score: 'cold', tags: [] }) }); contact = Array.isArray(cr) ? cr[0] : cr; }\n  if (contact.blocked) return [{ json: { skip: true, reason: 'blocked' } }];\n  let conversation;\n  const vs = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/conversations?contact_id=eq.${contact.id}&status=eq.active&select=id&limit=1`, headers });\n  if (Array.isArray(vs) && vs.length > 0) { conversation = vs[0]; } else { const nv = await $helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/conversations`, headers, body: JSON.stringify({ contact_id: contact.id, status: 'active', unread_count: 1 }) }); conversation = Array.isArray(nv) ? nv[0] : nv; }\n  const em = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/messages?whatsapp_message_id=eq.${wa_message_id}&select=id&limit=1`, headers });\n  if (Array.isArray(em) && em.length > 0) return [{ json: { skip: true, reason: 'duplicate' } }];\n  await $helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/messages`, headers, body: JSON.stringify({ conversation_id: conversation.id, role: 'user', content: text, whatsapp_message_id: wa_message_id, status: 'received' }) });\n  const sr = await $helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/settings?key=eq.ai_agent_settings&select=value&limit=1`, headers });\n  const aiCfg = (Array.isArray(sr) && sr.length > 0) ? sr[0].value : {};\n  return [{ json: { skip: false, contact_id: contact.id, conversation_id: conversation.id, from_phone, text, bot_enabled: contact.bot_enabled === true && aiCfg.active !== false, system_prompt: aiCfg.system_prompt || 'Eres TalosBot, asistente de ventas de TalosFlow. Responde de forma amable, breve y profesional en español.', temperature: aiCfg.temperature ?? 0.4, max_tokens: aiCfg.max_tokens ?? 500 } }];\n} catch (err) {\n  return [{ json: { skip: true, reason: 'error', error: err.message } }];\n}"
      },
      "id": "29d5844b-bdcd-47a0-8245-3a379b30c6db",
      "name": " DB: Contacto + Conversación + Guardar Msg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            },
            {
              "id": "cond-bot",
              "leftValue": "={{ $json.bot_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9b70649-c01e-48f8-a5f3-004635e31af3",
      "name": " ¿Bot Activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -816,
        -320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "eres un agente de saludos cuando te escriban hola tu responderas :\nsi funciono\nsos un crack",
        "options": {
          "systemMessage": "={{ $json.system_prompt }}"
        }
      },
      "id": "f66a5910-6461-44aa-9cc2-06460015dd2a",
      "name": " AI Agent (jobitxBot)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -560,
        -368
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 500,
          "temperature": 0.4
        }
      },
      "id": "e4a6b2d4-5f9a-4c7f-9eae-2f2e675a5cae",
      "name": " Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -704,
        -112
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "lOlx3wTMHZRrepsb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "a00b71c6-1470-4cb5-b3fa-4f11909c847b",
      "name": " Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -416,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "dU5wekh6iRB5hwkr",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/1203924152810164/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAZCPGHZCaMIABR7ZBA2X4yZAORl9sTzD5aTjg59ZCi8VWmRP1ufYOg1vbphbXYYNy0QF8o00168ru15kjG9u0gP7exZBg1Xlm09xZB6UazWOZC1F7FEdc8zLutTyyJkFVkXfttRcQkpGcQb3XD2AnwUwqdfxF1KX3TtZBZAM26V4RKtSGbo7xaYDNM0RYmoOBEgEJWVkpQnWa2IArToRG46BRcMHQAXE3iARALMXsG8GrDhpbMDeZAaFUb7MmvPkHT6sDTPcYQDmXlu08hzgJw3fCSuUr9ZCPIZBfN8Ssgs10QZDZD"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $(' DB: Contacto + Conversación + Guardar Msg').item.json.from_phone }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.output }}\" }\n}",
        "options": {}
      },
      "id": "6bb8a38c-6066-4e58-951d-a8f3e94b652d",
      "name": " Enviar por WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qgmlyliwwsszrkicadbf.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnbWx5bGl3d3NzenJraWNhZGJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzA4NjA4MSwiZXhwIjoyMDk4NjYyMDgxfQ.F1qNdueZdDiXtOsHIzAKFcuU9kcM4uQLllNKU7dANLA"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnbWx5bGl3d3NzenJraWNhZGJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzA4NjA4MSwiZXhwIjoyMDk4NjYyMDgxfQ.F1qNdueZdDiXtOsHIzAKFcuU9kcM4uQLllNKU7dANLA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $(' DB: Contacto + Conversación + Guardar Msg').item.json.conversation_id }}\",\n  \"role\": \"assistant\",\n  \"content\": \"{{ $(' Enviar por WhatsApp').item.json.output }}\",\n  \"whatsapp_message_id\": \"bot_{{ $now.toMillis() }}\",\n  \"status\": \"sent\"\n}",
        "options": {}
      },
      "id": "26c07f30-8428-4246-bdf8-8632cb94b979",
      "name": " Guardar Respuesta IA en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        -368
      ]
    },
    {
      "parameters": {
        "path": "whatsapp-crm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bfea63e7-43f5-4e62-98a2-af2c6bf1fe78",
      "name": " Webhook GET (Meta Verify)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2368,
        -64
      ],
      "webhookId": "talosflow-whatsapp-v2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bd653e41-4e7e-4aa0-8aa9-faebd98f505f",
      "name": " Responder Hub Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2064,
        -224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    " Webhook WhatsApp (POST)": {
      "main": [
        [
          {
            "node": " Extraer Datos del Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Extraer Datos del Mensaje": {
      "main": [
        [
          {
            "node": " ¿Es Mensaje Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " ¿Es Mensaje Válido?": {
      "main": [
        [
          {
            "node": " DB: Contacto + Conversación + Guardar Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " DB: Contacto + Conversación + Guardar Msg": {
      "main": [
        [
          {
            "node": " ¿Bot Activo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " ¿Bot Activo?": {
      "main": [
        [
          {
            "node": " AI Agent (jobitxBot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Enviar por WhatsApp": {
      "main": [
        [
          {
            "node": " Guardar Respuesta IA en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": " AI Agent (jobitxBot)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    " Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": " AI Agent (jobitxBot)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    " AI Agent (jobitxBot)": {
      "main": [
        [
          {
            "node": " Enviar por WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Webhook GET (Meta Verify)": {
      "main": [
        [
          {
            "node": " Responder Hub Challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f7c6859b-f3a3-407b-a03e-385452304e78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3999c024c348070a216f217faa4dbed1e702a71d51fefa109ababd31bff80132"
  },
  "nodeGroups": [],
  "id": "aGpqf3IR3SLLEnja",
  "tags": []
}